<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Vapartners Tour Company">
	<test thread-count="1" verbose="2" name="Default test">
		<classes>

       <!-- <class name="com.web365.Vapartners.Home.TESTS.VaAndPartnersHomeTest" />
			<class name="com.web365.Vapartners.OutgoingTours.Test.VaAndPartnersUaeTourTest" />
			<class name="com.web365.Vapartners.OutgoingTours.Test.VaAndPartnersIsraelTourTest" />
			<class name="com.web365.Vapartners.OutgoingTours.Test.VaAndPartnersThailandTourTest" />
			<class name="com.web365.Vapartners.OutgoingTours.Test.VaAndPartnersJordanTourTest" /> 
			<class name="com.web365.Vapartners.OutgoingTours.Test.VaAndPartnersSrilankaTourTest" />
			<class name="com.web365.Vapartners.OutgoingTours.Test.VaAndPartnersGeorgiaTourTest" /> 
            <class name="com.web365.Vapartners.OutgoingTours.Test.VaAndPartnersOutgoingTourBulgariaTest" />
            <class name="com.web365.Vapartners.OutgoingTours.Test.VaAndPartnersOutgoingTourItalyTest" />
            <class name="com.web365.Vapartners.OutgoingTours.Test.VaAndPartnersOutgoingTourGrecceTest" />
            <class name="com.web365.Vapartners.OutgoingTours.Test.VaAndPartnersOutgoingTourCyprusTest" />
            <class name="com.web365.Vapartners.OutgoingTours.Test.VaAndPartnersOutgoingTourFranceTest" />
            <class name="com.web365.Vapartners.OutgoingTours.Test.VaAndPartnersOutgoingTourNorwayTest" />            <class name="com.web365.Vapartners.OutgoingTours.Test.VaAndPartnersOutgoingTourCzechRepublicTest" />
            <class name="com.web365.Vapartners.OutgoingTours.Test.VaAndPartnersOutgoingTourSpainTest" />
            <class name="com.web365.Vapartners.OutgoingTours.Test.VaAndPartnersOutgoingTourEgyptTest" />
            <class name="com.web365.Vapartners.OutgoingTours.Test.VaAndPartnersOutgoingTourSingaporeTest" />
            <class name="com.web365.Vapartners.OutgoingTours.Test.VaAndPartnersOutgoingTourMaldivesTest" />
            <class name="com.web365.Vapartners.OutgoingTours.Test.VaAndPartnersOutgoingTourBaliTest" />
            <class name="com.web365.Vapartners.OutgoingTours.Test.VaAndPartnersOutgoingTourRussiaTest" />
            <class name="com.web365.Vapartners.OutgoingTours.Test.VaAndPartnersOutgoingTourUkraineTest" />
		    <class name="com.web365.Vapartners.IncomingTours.Test.VaAndPartnersArmeniaGeorgiaTourTest" /> 
			<class name="com.web365.Vapartners.IncomingTours.Test.VaAndPartnersArmenianFairyTaleTourTest" /> 
            <class name="com.web365.Vapartners.IncomingTours.Test.VaAndPartnersIncomingCulturalTourTest" /> 
            <class name="com.web365.Vapartners.IncomingTours.Test.VaAndPartnersIncomingArmeniaShortTourTest" />
            <class name="com.web365.Vapartners.IncomingTours.Test.VaAndPartnersIncomingDiscoverArmeniaTourTest" />
            <class name="com.web365.Vapartners.IncomingTours.Test.VaAndPartnersIncomingArmeniaGharabaghTourTest" />
            <class name="com.web365.Vapartners.IncomingTours.Test.VaAndPartnersIncomingRecognazeArmeniaTourTest" />
            <class name="com.web365.Vapartners.IncomingTours.Test.VaAndPartnersIncomingUniqueArmeniaWithSafariTourTest" />
            <class name="com.web365.Vapartners.IncomingTours.Test.VaAndPartnersIncomingAntiquarianTourTest" />
            <class name="com.web365.Vapartners.IncomingTours.Test.VaAndPartnersIncomingFamTripToArmeniaTest" />
            <class name="com.web365.Vapartners.IncomingTours.Test.VaAndPartnersIncomingColorsOfArmeniaTourTest" />
            <class name="com.web365.Vapartners.IncomingTours.Test.VaAndPartnersIncomingHoneymoonInArmeniaTourTest" />
            <class name="com.web365.Vapartners.IncomingTours.Test.VaAndPartnersIncomingPetroglyphTourInArmeniaTest" /> 
			<class name="com.web365.Vapartners.ArmenianInformation.Test.VaAndPartnersArmenianInformationTest" /> 
            <class name="com.web365.Vapartners.ArmenianInformation.Test.VaAndPartnersEarlyModernEraTest" />
            <class name="com.web365.Vapartners.ArmenianInformation.Test.VaAndPartnersWorldWar1AndTheArmenianGenocideTest" /> 
            <class name="com.web365.Vapartners.ArmenianInformation.Test.VaAndPartnersDemocraticRepublicOfArmeniaTest" />
            <class name="com.web365.Vapartners.ArmenianInformation.Test.VaAndPartnersSovietArmeniaTest" />-->
            <class name="com.web365.Vapartners.ArmenianInformation.Test.VaAndPartnersCultureOfArmeniaTest" />
	       <!-- <class name="com.web365.Vapartners.ArmenianInformation.Test.VaAndPartnersHistoryAndCultureAntiquityTest" />  
			<class name="com.web365.Vapartners.ArmenianInformation.Test.VaAndPartnersHistoryAndCultureMiddleAgesTest" /> 
		    <class name="com.web365.VapartnersFacebookTest.VaAndPartnersFacebookPageTest" />
			<class name="com.web365.Vapartners.Instagram.Test.VaAndPartnersInstagramTest" /> -->
		</classes>
	</test>
</suite>